@font-face{
    font-family: Abel;
src:url("../BoggerWebsite/google/Abel-Regular.ttf")
}

@font-face{
    font-family: Anton;
src:url("../BoggerWebsite/google/Anton-Regular.ttf")
}

@font-face{
    font-family: Josefin;
src:url("../BoggerWebsite/google/JosefinSans-Italic-VariableFont_wght.ttf")
}

@font-face{
    font-family: lexend;
src:url("../BoggerWebsite/google/LexendDeca-VariableFont_wght.ttf")
}

@font-face{
    font-family: livvic;
src:url("../BoggerWebsite/google/Livvic-BlackItalic.ttf")
}